body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    /*background: #230e4a;*/
    z-index: 1;
    background: linear-gradient(to bottom right, #888585, rgb(3, 90, 22));
}

#particles-js {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
}